*{
    padding: 0;
    margin: 0;
    border: 0;
}

html,
body{
    height: 100%;
    font-family: 'Roboto', sans-serif;
}


.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

header {
    background-color: #272B33;
    height: 125px;
    color: #D9D9D9;
}

.logo h1 {
    font-size: 70px;
    margin-top: 25px;
    margin-left: 15px;
    display: inline-block;
    font-weight: bold;
    color: #D9D9D9;
    text-shadow: white 0 0 5px;

}

.logo h3 {
    display: inline-block;
    font-size: 20px;
    margin-left: 30px;
    color: #D9D9D9;
}

.logo a {
    text-decoration: none;
    color: #D9D9D9;
}

hr {
    width: 100%;
    height: 5px;
    border: none;
    color: black;
    background-color: black;
}

nav {
    background-color: #272B33;
    color: #D9D9D9;;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

nav li {
    list-style-type: none;
}

nav a {
    text-decoration: none;
    color: #D65D5D;
    font-size: 30px;
}

nav a:hover {
    color: #D9D9D9;

}

.current-page {
    color: #54BF6C;
}

.current-page:hover {
    color: #54BF6C;
}

.main{
    display: flex;
    flex: 1 1 auto;
    background-color: #D9D9D9;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.joke, .joke-year {
    width: 450px;
    height: 700px;
    background-color: #272B33;
    margin: 15px 25px 15px 25px;
    border-radius: 5px;
}

.joke-tittle {
    margin: 20px auto 0 auto;
    width: 90%;
    background-color: #D9D9D9;
    border-radius: 5px;
    text-align: center;
    font-size: 25px;

}

.current-joke {
    margin: 20px auto 0 auto;
    width: 90%;
    background-color: #D9D9D9;
    border-radius: 5px;
    height: 600px;
}

.current-joke p {
    font-size: 20px;
    padding-top: 20px;
    margin-left: 10px;
    text-indent: 25px;
}

.ascii-pict {
    margin-left: 15px;
}

.code-snippet {
    font-size: 20px;
}

.joke-year ol {
    text-align:  center;
    font-size: 20px;
}

.joke-year li {
    text-align: left;
    margin-left: 40px;
    font-size: 20px;
}

.about-section {
    width: 100%;
    background-color: #272B33;
    margin: 15px 25px 15px 25px;
    border-radius: 5px;
}

.about-tittle {
    display: flex;
    margin: 15px auto 15px auto;
    width: 95%;
    background-color: #D9D9D9;
    border-radius: 5px;
}

.about-tittle h2 {
    margin: 10px auto 10px auto;
    font-size: 30px;
}

.about-content {
    margin: 15px auto 15px auto;
    width: 95%;
    background-color: #D9D9D9;
    border-radius: 5px;
    overflow: auto;
}

.about-content p {
    margin: 15px 15px 15px 15px;
    font-size: 20px;
    text-indent: 25px;
}

.about-content img {
    margin: 15px 15px 15px 15px;
}

.itmo-pict {
    width: 20%;
    border-radius: 5px;
    box-shadow: 0px 0px 15px 10px #000;
    float: left;
}


.section-content, .todo-section-content {
    width: 100%;
    background-color: #272B33;
    margin: 15px 25px 15px 25px;
    border-radius: 5px;
}

.content-tittle {
    display: flex;
    margin: 15px auto 15px auto;
    width: 95%;
    background-color: #D9D9D9;
    border-radius: 5px;
}

.content-tittle h2{
    margin: 10px auto 10px auto;
    font-size: 30px;
}

.current-content, .todo-current-content {
    margin: 15px auto 15px auto;
    width: 95%;
    background-color: #D9D9D9;
    border-radius: 5px;
}

.current-content p, .todo-current-content p {
    margin: 15px 15px 15px 15px;
    font-size: 20px;
    text-indent: 25px;
}

.date-table {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 10px;
    place-items: center;
    margin: 15px 15px 15px 15px;
    background-color: #272B33;
    border-radius: 5px;
}

.column-name {
    font-size: 25px;
    color: #D9D9D9;
    margin-bottom: 10px;
}

.table-children {
    font-size: 20px;
    color: #D9D9D9;
    margin-top: 3px;
    margin-bottom: 3px;
}

.todo-list, .digits-ui {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 15px;
}

.digits-ui {
    padding-bottom: 15px;
    padding-top: 15px;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.todo-list ul {
    margin-top: 15px;
    list-style-type: none;
}

.todo-list li {
    font-size: 25px;
}

#todo, #add-btn, #del-btn, #digit, #btn-search, #random-search {
    background-color: #272b33;
    border: none;
    color: #f0f3f6;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#todo {
    font-size: 30px;
}
.todo-section-content {
    padding-bottom: 110px;
}

.todo-current-content {
    height: 100%;
}

#add-btn {
    background-color: #54BF6C;
}

#del-btn {
    background-color: #D65D5D;
}

#fact {
    display: flex;
    justify-content: center;
    font-size: 30px;
}


footer {
    background-color: #272B33;
    height: 125px;
    color: #D9D9D9;
    text-align: center;
}

.footer-p{
    margin-top: 10px;
    font-size: 30px;
}

#page-load {
    font-size: 20px;
}


@media only screen
and (min-device-width : 52px)
and (max-device-width : 885px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    .todo-section-content {
        padding-bottom: 140px;
    }

    .logo h1 {
        display: flex;
        justify-content: center;
    }

    .logo h3 {
        display: none;
    }

    .joke {
        width: 90%;
        height: 75vh;
    }

    .itmo-pict {
        width: 70%;
    }

    .current-joke {
        height: 85%;
    }

    .current-joke ol {
        font-size: 16px;
    }

    .current-joke li {
        font-size: 14px;
    }

    .code-snippet {
        font-size: 14px;
    }

    .joke-year {
        display: none;
    }

    .current-joke p {
        font-size: 18px;
        padding-top: 20px;
        margin-left: 10px;
        text-indent: 25px;
    }

    #todo {
        font-size: 17px;
        padding-left: 24px;
        padding-right: 24px;
    }

    .footer {
        display: none;
    }


}

@media only screen
and (min-device-width : 357px)
and (max-device-width : 471px) {
    .todo-section-content {
        padding-bottom: 175px;
    }

    .current-joke p {
        font-size: 15px;
        padding-top: 20px;
        margin-left: 5px;
        text-indent: 25px;
    }

    .section-content {
        margin: 15px 5px 15px 5px;
    }

    .joke {
        margin: 15px 5px 15px 5px;
    }

    .todo-section-content {
        margin: 15px 5px 15px 5px;
    }
    .about-section {
        margin: 15px 5px 15px 5px;
    }
}

@media only screen
and (min-device-width : 200px)
and (max-device-width : 357px) {
    .todo-section-content {
        padding-bottom: 210px;
    }

    .joke {
        width: 300px;
        height: 50vh;
        margin: 15px 5px 15px 5px;
    }

    .section-content {
        margin: 15px 2px 15px 2px;
    }

    .current-joke p {
        font-size: 14px;
        padding-top: 20px;
        margin-left: 10px;
        text-indent: 25px;
    }

    .about-section {
        margin: 15px 5px 15px 5px;
    }

    .todo-section-content {
        margin: 15px 5px 15px 5px;
    }
}

